
@{
    ViewBag.Title = "Index";
}

<h2>Old School Form</h2>

<div class="row">
    <div class="col-lg-3">
        <form method="post" action="/Basics/Index">
            @Html.AntiForgeryToken()
            <input type="text" name="_email" placeholder="Enter Email Address" />
            <input type="text" name="_password" placeholder="Enter Password" />
            <input type="text" name="_passwordConf" placeholder="Confirm Password" />
            <input type="submit" name="_submit" value="SUBMIT" />
        </form>
    </div>
</div>
