
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>


        @using (Html.BeginForm("Razor", "Basics", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <label>User Name</label>
            @Html.TextBox("user_name")<br />
            <label>Password</label>
            @Html.Password("password") <br />
            <label>Password Confirmation</label>
            @Html.Password("password_ver") <br />
            <input type="submit" value="Submit" />
        }
            
       