
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

<div class="row">
    <div class="col-lg-4">
        <form method="post" action="/Basics/Index">
            @Html.AntiForgeryToken()
            User Name: @Html.TextBox("user_name")<br/>
            Password: @Html.Password("password") <br/>
            Verify Password: @Html.Password("password_ver") <br/>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

